[submodule "lab1/lib/openzeppelin-contracts"]
	path = lab1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

[submodule "lab2/lib/openzeppelin-contracts"]
	path = lab2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
